*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(https://images.unsplash.com/photo-1488342994276-7c3bc0742042?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8&w=1000&q=80);
    background-size:cover ;
}
.contact .content
{
max-width: 800px;
text-align: center;
color: #fff;

}

.contact .content h2
{
    font-weight: 500;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.contact .content p
{
margin-top: 50px;
}

.contact .content .line
{
    background-color: orange ;
    border: none;
    height: 5px;
    border-radius: 5px;
    width: 22.5%;
    margin-left: 310px;

}

.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.container .contactinfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box
{
position: relative;
padding: 20px 0;
display: flex;
}

.container .contactinfo .box .icon
{
    width: 50px;
    height: 50px;
    background:#fff ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container .contactinfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3
{
    font-weight: 500;
    color: #00bcd4;
}

.contactform
{
    width: 31%;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
}

.contactform h2
{
font-size: 30px;
color: #333;
font-weight: 500px;
text-align: center;
}

.contactform .inputbox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputbox input, 
.contactform .inputbox textarea
{
    width: 100%;
    padding: 50x 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactform .inputbox span
{
    position: absolute;
    left: 0;
    padding: 50x 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid  span


{
    color: #00bcd6;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"]
{
    width: 100px;
    background: #00bcd6; 
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: bolder;

}

@media (max-width: 991px)
{
    .contact 
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactinfo
    {
        margin-bottom: 40px;
    }
    .container .contactinfo
    {
        width: 100%;
    }
}